.SellStocks {
  display: flex;
  flex-direction: column;
  margin: 12.5px;
  padding: 12.5px;

  .SellStockPills {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .PillExpandButtonDiv {
      height: 100%;
      .PillExpandButton {
        //   background-color: #0000002f;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }
      .PillExpandButton:hover {
        cursor: pointer;
        background-color: #0000002f;
      }
    }
    .CompanyName {
      font-size: 1.25rem;
      font-weight: 600;
    }

    .LastUpdated {
      font-size: 0.75rem;
      font-weight: 400;
    }
    .heading {
      // background-color: yellowgreen;
      display: flex;
      justify-content: space-between;
      margin: 5px 10px;
    }
    .SchmallPill {
      display: flex;
      flex-direction: column;
      width: 100%;
      // align-items: center;

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0px;
        .rowelem {
          margin: 0 10px;
        }

        .StockPrice {
          font-weight: 300;
        }

        .StocksLeft {
          width: 25%;
        }
      }
    }
    .BigBoiPill {
      //   background-color: green;
      width: 100%;

      .row {
        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: start;
        margin: 5px 0px;
        .rowelem {
          margin: 0 10px;
        }

        .CompanyImage {
          margin: 10px;
          border-radius: 30px;
          width: 300px;
          height: 300px;
          object-fit: cover;
        }

        .col {
          min-width: 25%;
          //   height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          //   align-items: center;
          .colelem {
            margin: 10px;
            font: 400 20px Chivo;
          }

          .ShareInput {
            height: 40px;
            width: 100px;
            border-radius: 20px;
            padding: 0 20px;
            // align-content: end;
            text-align: right;
            // caret: none;
            caret-color: transparent;

            font: 500 20px Chivo;
            box-sizing: border-box;
          }

          .SellButton {
            background-color: red;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            // make text non selectable
            user-select: none;

            &:disabled {
              background-color: grey;
            }
          }

          .SellButton:hover {
            cursor: pointer;
            background-color: #ff0000b3;
          }
        }
        .last {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
        }
      }
    }
  }
}

// company name
// price
// no of stocks
// arrow at end (expands to show more info)
//     image
//     same details
//     graph
//     company values
//     Sell button
