.SideNav {
  height: 100%;

  background-color: #1f158b;
  color: #e1cc5b;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  //   padding-left: 0.75rem;

  overflow: hidden;

  width: 75px;

  position: fixed;
  left: 0;

  transition: width 0.5s ease-in-out;

  .MenuButton {
    width: fit-content;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 40px;
    &:hover {
      cursor: pointer;
      background-color: #140d5f;
    }
  }

  svg {
    cursor: pointer;
    // margin: 0 0.5rem;
    // padding: 0.5rem 0.8rem;

    border-radius: 1rem;
    flex-shrink: 0;
  }

  span {
    padding: 0.5rem 0.8rem;
    color: inherit;
    display: flex;
    gap: 1.5rem;
    margin: 0 0.5rem;
    border-radius: 30px;
    &:hover {
      background-color: #140d5f;
    }
    i {
      flex-shrink: 0;
    }

    align-items: center;
  }

  &.open {
    width: 250px;
  }
}
