.Dashboard{
    background-image: url(../../assets/background.png);
    background-size: cover;
    
    height: 100vh;

    display: grid;
    padding-left: 75px;
    // grid-template-columns: 75px 1fr;
    grid-template-rows: 100px 1fr;
    

}