.Card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.107);  

    text-align: center;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-width: 300px;

    font-family: Chivo;

    img{
        width: 97.5%;
        height: 200px;
        object-fit: cover;
    }


    h2{
        font-size: 1.25rem;
    }

}